<%= form_for villain, html: { class: 'mt-5' } do |form| %>
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :name, class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <%= form.text_field :name, class: 'input', placeholder: 'The official name on the back of villain card itself', required: true %>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :box_id, 'Box', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <div class="select">
            <%= form.select :box_id, options_from_collection_for_select(Box.all, :id, :name, selected: form.object.box_id), { prompt: 'Select a box'}, required: true %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :card, class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <% if form.object.card.persisted? %>
            <%= card_image_tag(form.object) %>
          <% end %>

          <div class="file has-name">
            <label class="file-label">
              <%= form.file_field :card, class: 'file-input' %>
              <span class="file-cta">
                <span class="file-label">
                  Choose <%= form.object.card.present? ? 'a different' : 'an' %> image
                </span>
              </span>
              <span class="file-name">No file selected</span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener('turbo:load', () => {
      // 1. Display file name when select file
      let fileInputs = document.querySelectorAll('.file.has-name');
      for (let fileInput of fileInputs) {
        let input = fileInput.querySelector('.file-input');
        let name = fileInput.querySelector('.file-name');
        input.addEventListener('change', () => {
          let files = input.files;
          if (files.length === 0) {
            name.innerText = 'No file selected';
          } else {
            name.innerText = files[0].name;
          }
        });
      }

      // 2. Remove file name when form reset
      let forms = document.getElementsByTagName('form');
      for (let form of forms) {
        form.addEventListener('reset', () => {
          let names = form.querySelectorAll('.file-name');
          for (let name of names) {
            name.innerText = 'No file selected';
          }
        });
      }
    });
  </script>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :real_name, class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <%= form.text_field :real_name, class: 'input', placeholder: 'The canonical real name of the villain, if known' %>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal is-hidden">
    <div class="field-label is-normal">
      <%= form.label :gender_identity, class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <%= form.text_field :gender_identity, class: 'input', placeholder: 'The canonical gender identity of the villain' %>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal is-hidden">
    <div class="field-label is-normal">
      <%= form.label :sexual_orientation, class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <%= form.text_field :sexual_orientation, class: 'input', placeholder: 'The canonical sexual orientation of the hero, if known' %>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal mt-5">
    <div class="field-label is-normal">
      <!-- Used for spacing -->
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <%= form.submit 'Save', class: 'button is-primary' %>
          <%= link_to 'Cancel', heroes_path, class: 'button is-white ml-1' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
