<h2><%= @villain.name %></h2>

<div class="is-flex is-align-items-start is-justify-content-space-between">
  <%= card_image_tag(@villain) %>

  <table class="table ml-4 is-narrow">
    <tr>
      <th scope="row" class="has-text-left">Real Name</th>
      <td><%= @villain.real_name %></td>
    </tr>
    <tr>
      <th scope="row" class="has-text-left">Gender Identity</th>
      <td><%= @villain.gender_identity %></td>
    </tr>
    <tr>
      <th scope="row" class="has-text-left">Sexual Orientation</th>
      <td><%= @villain.sexual_orientation %></td>
    </tr>
    <tr>
      <th scope="row" class="has-text-left">Box</th>
      <td><%= link_to @villain.box.name, box_path(@villain.box) %></td>
    </tr>
  </table>
</div>
