<!DOCTYPE html>
<html>
  <head>
    <title>My Marvel United</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <script src="https://kit.fontawesome.com/941135c5e1.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <navbar class="navbar main is-transparent" role="navigation" aria-label="main-navigation">
      <div class="navbar-brand">
        <h1>
          <%= link_to_unless current_page?(root_path), 'My MARVEL United', root_path %>
        </h1>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="toggleable-navbar-content">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-menu" id="toggleable-navbar-content">
        <div class="navbar-start">
          <%= link_to_navbar_item 'Heroes', heroes_path %>
          <%= link_to_navbar_item 'Villains', villains_path %>
          <a class="navbar-item">
            Locations
          </a>
          <%= link_to_navbar_item 'Boxes', boxes_path %>
        </div>

        <div class="navbar-end">
          <% if signed_in? %>
            <%= link_to 'Log Out', destroy_user_session_path, class: 'navbar-item', data: { turbo_method: 'delete', turbo_confirm: 'Are you sure you want to logout?' } %>
          <% else %>
            <%= link_to 'Log In', new_user_session_path, class: 'navbar-item' %>
          <% end %>
          </div>
        </div>
      </div>

      <script>
        (function () {
          var burger = document.querySelector('.navbar-burger');
          var menu = document.querySelector('#' + burger.dataset.target);
          burger.addEventListener('click', function () {
              burger.classList.toggle('is-active');
              menu.classList.toggle('is-active');
          });
        })();
      </script>
    </navbar>

    <section class="flash has-text-centered">
      <% if notice %>
        <p class="notification is-success mb-3"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="notification is-danger mb-3"><%= alert %></p>
      <% end %>
    </section>

    <main>
      <div class="container">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
