<!DOCTYPE html>
<html>
  <head>
    <title>My Marvel United</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <navbar class="navbar main" role="navigation" aria-label="main-navigation">
      <div class="navbar-brand">
        <h1>My MARVEL United</h1>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-menu" id="navbarBasicExample">
        <div class="navbar-start">
          <a class="navbar-item">
            Heros
          </a>
          <a class="navbar-item">
            Villains
          </a>
          <a class="navbar-item">
            Locations
          </a>
          <%= link_to 'Boxes', boxes_path, class: 'navbar-item' %>
        </div>
      </div>

      <div class="navbar-end">
        <% if signed_in? %>
          <%= link_to 'Log Out', destroy_user_session_path, method: 'delete', class: 'navbar-item' %>
        <% else %>
          <div class="navbar-item has-button">
            <%= link_to 'Log In', new_user_session_path, class: 'button' %>
          </div>
        <% end %>
        </div>
      </div>
    </navbar>

    <section class="flash has-text-centered">
      <% if notice %>
        <p class="notification is-success mb-3"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="notification is-danger mb-3"><%= alert %></p>
      <% end %>
    </section>

    <% if current_page?(root_path) %>
      <section class="hero is-fullheight-with-navbar">
        <div class="hero-body">
          <p class="title">A hero/villain image will be displayed here</p>
          <p class="subtitle">Some or all of the details about that character will be displayed over here along with a link to their actual entry show page</p>
        </div>
      </section>
    <% else %>
      <main class="mt-4">
        <div class="container">
          <%= yield %>
        </div>
      </main>
    <% end %>
  </body>
</html>
